<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>
                <label class="label label-info">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Pesquisar
                </label>
            </h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="pesquisarNome" class="control-label text-primary">Nome:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <input id="pesquisarNome" type="text" class="form-control" placeholder="Digite o nome a buscar" value="">
                <input id="idPessoa" type="hidden" value="">
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label for="pesquisarDocumento" class="control-label text-primary">Documento:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <input id="pesquisarDocumento" type="text" placeholder="Digite o número do documento" class="form-control">
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label for="pesquisarUnidade" class="control-label text-primary">Unidade:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <input id="pesquisarUnidade" type="text" placeholder="Digite a unidade" class="form-control">
            </div>
        </div>
    </div>
</div>

<div id="divResumoConsulta" style="display:none;">
</div>

@section scripts{

<script>

    $(document).ready(function () {

    $('#pesquisarNome').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Session["WEB_API"].ToString()/api/pessoas/' + request.term + '/autoCompletePessoas',
                method: 'GET',
                dataType: 'json'
            }).done(function (data, status) {
                response(data);
            }).fail(function (data, status) {
                $.notify('Erro ao recuperar os dados para realizar o auto complete...', { clickToHide: true, autoHide: false });
            });
        },
        minLength: 3,
        select: function (event, ui) {
            GetPessoas(ui.item.label);
        }
    });

    $('#pesquisarDocumento').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Session["WEB_API"].ToString()/api/documentos/' + request.term + '/autoCompleteDocumentos',
                method: 'GET',
                dataType: 'json'
            }).done(function (data, status) {
                response(data);
            }).fail(function (data, status) {
                $.notify('Erro ao recuperar os dados para realizar o auto complete...', { clickToHide: true, autoHide: false });
            });
        },
        minLength: 3,
        select: function (event, ui) {
            GetDocumentos(ui.item.label);
        }
    });   

    function GetDocumentos(numero) {
        $.ajax({
            url: '@Session["WEB_API"].ToString()/api/documentos/' + numero + '/listarDocumentos',
            method: 'GET',
            dataType: 'json'
        }).done(function (data, status) {
            $.each(data, function (i, item) {
                   var dadosPessoas = GetDadosPessoa(item.id_pessoa);
                   data[i] = { dadosDocumentos: [data[i]] };
                   data[i] = $.extend(dadosPessoas, data[i]);
            });

             $.ajax({
                url: '@Url.Action("ResumoConsulta", "Consulta")',
                method: 'POST',
                dataType: 'html',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    'model': data
                })
            }).done(function (data, status) {
                $('#divResumoConsulta').html(data).show();
            }).fail(function (data, status) {
                $.notify('Erro ao abrir a tela para listar a pessoa desejada...', { clickToHide: true, autoHide: false });
            });

        }).fail(function (data, status) {
            $.notify('Erro ao recuperar os documentos...', { clickToHide: true, autoHide: false });
        });
    }

    function GetDadosPessoa(idPessoa) {
        return $.ajax({
            url: '@Session["WEB_API"].ToString()/api/pessoas/' + idPessoa + '/listarPessoa',
            method: 'GET',
            dataType: 'json',
            async: false
        }).done(function (data, status) {
        }).fail(function (data, status) {
            $.notify('Erro ao recuperar a pessoa...', { clickToHide: true, autoHide: false });
        }).responseJSON[0];
    }    
});

</script>

}