<hr />
@if (Model.Count > 0)
{
    foreach (var dadosPessoas in Model)
    {
        <div class="col-md-6">
            <div class="well">
                <table>
                    <tr>
                        <td rowspan="3">
                            <div class="thumbnail" style="margin-right: 6%; cursor:pointer;" onclick="AbrirWebCam(@dadosPessoas.id_pessoa);">
                                @if (String.IsNullOrEmpty(dadosPessoas.foto_string))
                                {
                                    <img src="~/Content/img/sem_imagem.png" width="150" height="150" alt="foto_@dadosPessoas.id_pessoa" />
                                }
                                else
                                {
                                    <img src="@dadosPessoas.foto_string" width="200" height="200" alt="foto_@dadosPessoas.id_pessoa" />
                                }
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-lg" onclick="ModalDetalhePessoa('@dadosPessoas.id_pessoa', '@Html.Raw(dadosPessoas.nome)');">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <b class="text-center">@dadosPessoas.nome</b>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-primary">
                            <b>
                                <i>
                                    Tipo de pessoa: @dadosPessoas.descricao
                                    <br />
                                    Documentação:
                                    <br />
                                    @foreach (var dadosDocumentos in dadosPessoas.dadosDocumentos)
                                    {
                                        @dadosDocumentos.descricao
                                        <br />
                                    }
                                </i>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="ModalAlteraPessoa('@dadosPessoas.id_pessoa', '@Html.Raw(dadosPessoas.nome)');">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                Alterar
                            </button>
                            <button type="button" class="btn btn-danger" onclick="ModalRemoverPessoa('@dadosPessoas.id_pessoa', '@Html.Raw(dadosPessoas.nome)');">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                Remover
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <input type="hidden" id="idPessoaModal" value="" />
        <input type="hidden" id="nomePessoaModal" value="" />
    }
}
else
{
    <p><h3 class="text-center text-danger">Nenhuma informação encontrada!</h3></p>
}

<div id="modalPessoas" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="max-width:1000px; width:auto;">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3>
                    <label class="modal-title text-center label label-primary"></label>
                </h3>
            </div>
            <div class="modal-body modal-body-dados-pessoas" style="max-height:1000px; height:auto;">
            </div>
            <div class="modal-footer">
                <div class="div-footer-modal-pessoa">
                    <button type="button" class="btn btn-success btn-alterar-pessoa" style="display:none;" onclick="AlterarPessoa();">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Alterar
                    </button>
                    <button type="button" class="btn btn-default fecharModalPessoas" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalRemoverPessoas" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3><span class="modal-title text-center label label-danger"></span></h3>
            </div>
            <div class="modal-body text-center text-danger">
                <p><h4>Confirma a exclusão?</h4></p>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" onclick="RemoverPessoa();">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Sim
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Não
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divWebCam" style="display:none;">
</div>

<script>

    var model = @Html.Raw(Json.Encode(Model))

    function ModalDetalhePessoa(id_pessoa, nome) {
        $('#nomePessoaModal').val(nome);
        $('.btn-alterar-pessoa').hide();
        $('.div-footer-modal-pessoa').removeClass('btn-group');

        $.ajax({
            url: '@Url.Action("TelaCrud", "Consulta")',
            method: 'POST',
            dataType: 'html',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                'acao': 'D',
                'idPessoa': id_pessoa,
                'dadosPessoas': model
            })
        }).done(function (data, status) {
            $('.modal-body-dados-pessoas').html(data);
            $('.modal-title').html('<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Detalhes de ' + $('#nomePessoaModal').val());
            $('#modalPessoas').modal();
        }).fail(function (data, status) {
            $.notify('Erro ao abrir a modal de detalhe com os dados da pessoa desejada...', { clickToHide: true, autoHide: false });
        });
    }

    function ModalAlteraPessoa(id_pessoa, nome) {
        $('#idPessoaModal').val(id_pessoa);
        $('#nomePessoaModal').val(nome);
        $('.btn-alterar-pessoa').show();
        $('.div-footer-modal-pessoa').addClass('btn-group');

        $.ajax({
            url: '@Url.Action("TelaCrud", "Consulta")',
            method: 'POST',
            dataType: 'html',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                'acao': 'A',
                'idPessoa': id_pessoa,
                'dadosPessoas': model
            })
        }).done(function (data, status) {
            $('.modal-body-dados-pessoas').html(data);
            $('.modal-title').html('<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Alteração de ' + $('#nomePessoaModal').val());
            $('#modalPessoas').modal();
        }).fail(function (data, status) {
            $.notify('Erro ao abrir a modal de alteração com os dados da pessoa desejada...', { clickToHide: true, autoHide: false });
        });
    }

    function ModalRemoverPessoa(id_pessoa, nome) {
        $('#idPessoaModal').val(id_pessoa);
        $('#nomePessoaModal').val(nome);
        $('.modal-title').html('<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Exclusão de ' + $('#nomePessoaModal').val());
        $('#modalRemoverPessoas').modal();
    }

    function AlterarPessoa() {
        var formPessoa = $('#formDadosPessoa').serializeArray();
        var fotoString = $('img[alt="foto_' + $('#idPessoaModal').val() + '"]').attr('src');

        if (fotoString.includes('sem_imagem.png'))
        {
            fotoString = '';
        }
        else
        {
            fotoString = fotoString.replace('data:image/png;base64,', '');
        }

        var formPessoaJson = { foto_string: fotoString };
        $.each(formPessoa,
            function (i, v) {
                formPessoaJson[v.name] = v.value;
            });

        $.ajax({
            url: '@Session["WEB_API"].ToString()/api/pessoas/' + $('#idPessoaModal').val() + '/atualizarPessoas',
            method: 'POST',
            dataType: 'json',
            data: formPessoaJson
        }).done(function (data, status) {
            if (data.mensagemRetorno.includes('sucesso'))
                {
                    $.notify(data.mensagemRetorno, { className: 'success', clickToHide: true, autoHide: false });
                    $('.modal-backdrop').remove();
                    $('body').removeClass('modal-open');
                    if ('@ViewBag.VIEW_CADASTRO' == 'N')
                    {
                        GetPessoas(data.nome);
                    }
                    else
                    {
                        GetPessoa($('#idPessoaModal').val());
                    }
                }
            else
                {
                    $.notify(data.mensagemRetorno, { clickToHide: true, autoHide: false });
                }
        }).fail(function (data, status) {
            $.notify('Erro ao atualizar a pessoa desejada...', { clickToHide: true, autoHide: false });
        });
    }

    function RemoverPessoa() {
        $.ajax({
            url: '@Session["WEB_API"].ToString()/api/pessoas/' + $('#idPessoaModal').val() + '/removerPessoas',
            method: 'POST',
            dataType: 'json'
        }).done(function (data, status) {
            if (data.includes('sucesso'))
                {
                    $.notify(data, { className: 'success', clickToHide: true, autoHide: false });
                    $('.modal-backdrop').remove();
                    $('body').removeClass('modal-open');
                    if ('@ViewBag.VIEW_CADASTRO' == 'N')
                    {
                        GetPessoas($('#nomePessoaModal').val());
                    }
                    else
                    {
                        location.reload();
                    }
                }
            else
                {
                    $.notify(data, { clickToHide: true, autoHide: false });
                }
        }).fail(function (data, status) {
            $.notify('Erro ao remover a pessoa desejada...', { clickToHide: true, autoHide: false });
        });
    }

     function AbrirWebCam(idPessoa) {
        $.ajax({
            url: '@Url.Action("WebCam", "Consulta")',
            method: 'POST',
            dataType: 'html',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                'acao': 'A',
                'idPessoa': idPessoa,
                'dadosPessoas': model,
                'viewCadastro': '@ViewBag.VIEW_CADASTRO'
            })
        }).done(function (data, status) {
            $('#divWebCam').html(data).show();
            $('.modal-title').html('Foto');
            $('#modalWebCam').modal();
        }).fail(function (data, status) {
            $.notify('Erro ao abrir a web cam...', { clickToHide: true, autoHide: false });
        });
    }

</script>