<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Goedert Web</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Consulta", new { area = "" }, new { @class = "navbar-brand glyphicon glyphicon-home" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Consulta", "Index", "Consulta")</li>
                    <li>@Html.ActionLink("Cadastro", "Index", "Cadastro")</li>
                    @*<li>@Html.ActionLink("Contato", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="row">
            <div class="col-md-12">
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Um produto Goedert Sistemas</p>
                    <p>Desenvolvido por Samuel Reis</p>
                    <p>Todos os direitos reservados</p>
                </footer>
            </div>
        </div>
    </div>
    <script>

        function GetPessoa(idPessoa) {
            $.ajax({
                url: '@Session["WEB_API"].ToString()/api/pessoas/' + idPessoa + '/listarPessoa',
                method: 'GET',
                dataType: 'json'
            }).done(function (data, status) {
                $.each(data, function (i, item) {
                    var dadosDocumentos = GetDocumento(item.id_pessoa);
                    dadosDocumentos = { dadosDocumentos: [dadosDocumentos] };
                    data[i] = $.extend(dadosDocumentos, data[i]);
                });

                $.ajax({
                    url: '@Url.Action("ResumoConsulta", "Consulta")',
                    method: 'POST',
                    dataType: 'html',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'model': data,
                        'viewCadastro': 'S'
                    })
                }).done(function (data, status) {
                    $('#divResumoConsulta').html(data).show();
                }).fail(function (data, status) {
                    $.notify('Erro ao abrir a tela para listar a pessoa desejada...', { clickToHide: true, autoHide: false });
                });
            }).fail(function (data, status) {
                $.notify('Erro ao recuperar a pessoa desejada...', { clickToHide: true, autoHide: false });
            });
        }

        function GetPessoas(nome) {
            $.ajax({
                url: '@Session["WEB_API"].ToString()/api/pessoas/' + nome + '/listarPessoas',
                method: 'GET',
                dataType: 'json'
            }).done(function (data, status) {
                $.each(data, function (i, item) {
                    var dadosDocumentos = GetDocumento(item.id_pessoa);
                    dadosDocumentos = { dadosDocumentos: [dadosDocumentos] };
                    data[i] = $.extend(dadosDocumentos, data[i]);
                });

                $.ajax({
                    url: '@Url.Action("ResumoConsulta", "Consulta")',
                    method: 'POST',
                    dataType: 'html',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'model': data
                    })
                }).done(function (data, status) {
                    $('#divResumoConsulta').html(data).show();
                }).fail(function (data, status) {
                    $.notify('Erro ao abrir a tela para listar a pessoa desejada...', { clickToHide: true, autoHide: false });
                });
            }).fail(function (data, status) {
                $.notify('Erro ao recuperar a pessoa desejada...', { clickToHide: true, autoHide: false });
            });
        }

        function GetDocumento(idPessoa) {
            return $.ajax({
                url: '@Session["WEB_API"].ToString()/api/documentos/' + idPessoa + '/listarDocumento',
                method: 'GET',
                dataType: 'json',
                async: false
            }).done(function (data, status) {
            }).fail(function (data, status) {
                $.notify('Erro ao recuperar a pessoa...', { clickToHide: true, autoHide: false });
            }).responseJSON[0];
        }

    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>