<form id="formDadosPessoa" method="post">
    <fieldset id="fieldSetDadosPessoa">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><span id="formCamera" onclick="CarregaWebCam();" class="glyphicon glyphicon-camera" aria-hidden="true" style="cursor:pointer;  display:none;"></span></h4>
            </div>
            <div class="panel-body" style="margin-left:10px">
                <div class="row">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="nomePessoaForm" class="control-label text-primary">Nome: <span style="color:red;" class="glyphicon glyphicon-asterisk small" aria-hidden="true"></span></label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </span>
                                <input id="nomePessoaForm" name="nome" type="text" class="form-control" placeholder="Digite o nome" value="@Model.nome" data-minlength="3" data-error="Por favor, informe um nome com no mínimo 3 caracteres." required>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="tipoPessoaForm" class="control-label text-primary">Tipo de pessoa: <span style="color:red;" class="glyphicon glyphicon-asterisk small" aria-hidden="true"></span></label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                </span>
                                <select class="form-control" id="tipoPessoaForm" name="id_tipo_pessoa" data-error="Por favor, informe um tipo de pessoa." required></select>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="sexo" class="control-label text-primary">Sexo: <span style="color:red;" class="glyphicon glyphicon-asterisk small" aria-hidden="true"></span></label>
                            <div class="input-group" style="margin-right:10px;">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                </span>
                                <select class="form-control" id="sexo" name="sexo" data-error="Por favor, informe o sexo." required>
                                    <option value="" style="display:none;">Selecione o sexo</option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Feminino</option>
                                </select>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="datepicker" class="control-label text-primary">Data Validade:</label>
                            <div class="input-daterange input-group form-group" id="datepicker">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                </span>
                                <input type="text" class="input-sm form-control data-date-format='dd/mm/aaaa'" style="height:35px;" id="dataIniVal" name="dt_ini_val_string" placeholder="dd/mm/aaaa" value="@Model.dt_ini_val" data-validaDataInicial />
                                <span class="input-group-addon">até</span>
                                <input type="text" class="input-sm form-control" style="height:35px;" id="dataFimVal" name="dt_fim_val_string" placeholder="dd/mm/aaaa" value="@Model.dt_fim_val" data-validaDataFinal />
                            </div>
                            <div id="divMensagemErroData" style="display:none;" class="text-danger"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <p class="text-muted small"><i>Os campos com </i><span style="color:red;" class="glyphicon glyphicon-asterisk" aria-hidden="true"></span><i> são obrigatórios</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input id="fotoString" type="hidden" value="" />
    </fieldset>
</form>

<script>

    $(document).ready(function () {

        $('#formDadosPessoa').validator({
            custom: {
                'validaDataInicial': function ($el) {
                    if ($('#dataIniVal').val() != '' && $('#dataFimVal').val() != '') {
                        if ($('#dataIniVal').val() > $('#dataFimVal').val()) {

                            return $('#divMensagemErroData').html('<p>Data inicial não pode ser maior que a data final.</p>').show();
                        }
                        else {
                            $('#divMensagemErroData').hide();
                        }
                    }
                },
                'validaDataFinal': function ($el) {
                    if ($('#dataFimVal').val() != '' && $('#dataIniVal').val() != '') {
                        if ($('#dataIniVal').val() > $('#dataFimVal').val()) {

                            return $('#divMensagemErroData').html('<p>Data inicial não pode ser maior que a data final.</p>').show();
                        }
                        else {
                            $('#divMensagemErroData').hide();
                        }
                    }
                }
            }
        });

        $('#formDadosPessoa').on('valid.bs.validator', function () {
            $('.btn-alterar-pessoa').prop("disabled", false);

            if (!$('.list-unstyled').is(":visible") && !$('#divMensagemErroData').is(":visible")) {
                $('#btnGravarForm').prop("disabled", false);
            }

            $('#formDadosPessoa').find('select, textarea, input').each(function () {
                if ($(this).prop('required')) {
                    if ($(this).val() == '') {
                        $('#btnGravarForm').prop("disabled", true);
                    }
                }
            });
        });

        $('#formDadosPessoa').on('invalid.bs.validator', function () {
            $('.btn-alterar-pessoa').prop("disabled", true);
            $('#btnGravarForm').prop("disabled", true);
        });

        $('#dataIniVal').change(function () {
            if ($('#dataIniVal').val() == '') {
                $('#divMensagemErroData').hide();
                $('.btn-alterar-pessoa').prop("disabled", false);
            }
        });

        $('#dataFimVal').change(function () {
            if ($('#dataFimVal').val() == '') {
                $('#divMensagemErroData').hide();
                $('.btn-alterar-pessoa').prop("disabled", false);
            }
        });

        $('#dataIniVal').mask('99/99/9999');
        $('#dataIniVal').datepicker({ orientation: 'bottom auto', autoclose: true, format: 'dd/mm/yyyy', forceParse: true, language: 'pt-BR', forceParse: true });

        $('#dataFimVal').mask('99/99/9999');
        $('#dataFimVal').datepicker({ orientation: 'bottom auto', autoclose: true, format: 'dd/mm/yyyy', forceParse: true, language: 'pt-BR', forceParse: true });

        $('#sexo').val('@Model.sexo');

        GetTipoPessoa();

        function GetTipoPessoa() {

            $('#tipoPessoaForm').empty();

            $.ajax({
                url: '@ViewBag.WEB_API/api/pessoas/listarTipoPessoa',
                method: 'GET',
                dataType: 'json'
            }).done(function (data, status) {

                if ('@ViewBag.IND_ACAO' == 'I') {
                        $('#tipoPessoaForm').append($('<option>', {
                            value: '',
                            text: 'Selecione o tipo de pessoa'
                        }));
                }

                $.each(data, function (i, item) {
                    $('#tipoPessoaForm').append($('<option>', {
                        value: item.id_tipo_pessoa,
                        text: item.descricao
                    }));
                });

                $('#tipoPessoaForm').val('@Model.id_tipo_pessoa');

            }).fail(function (data, status) {
                $.notify('Erro ao recuperar o tipo da pessoa...', { clickToHide: true, autoHide: false });
            });
        }

        function VerificaIndAcao()
        {
            if ('@ViewBag.IND_ACAO' == 'D')
            {
                $('#fieldSetDadosPessoa').prop('disabled', true)
            }
        }

        VerificaIndAcao();
    });

</script>