<form id="formDadosConsulta">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title"></h4>
        </div>
        <div class="panel-body" style="margin-left:10px">
            <div class="row">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="nomePessoaForm">Nome:</label>
                        <input id="nomePessoaForm" type="text" class="form-control" placeholder="Digite o nome" value="@Model.nome">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="tipoPessoaForm">Tipo de pessoa:</label>
                        <select class="form-control" id="tipoPessoaForm"></select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="sexo">Sexo:</label>
                        <select class="form-control" id="sexo">
                            @*<option value="-1">Selecione o sexo</option>*@
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="datepicker">Data Validade:</label>
                        <div class="input-daterange input-group form-group" id="datepicker">
                            <input type="text" class="input-sm form-control data-date-format='dd/mm/aaaa'" style="height:35px;" id="dataIniVal" placeholder="dd/mm/aaaa" value="@Model.dt_ini_val" />
                            <span class="input-group-addon">até</span>
                            <input type="text" class="input-sm form-control" style="height:35px;" id="dataFimVal" placeholder="dd/mm/aaaa" value="@Model.dt_fim_val" />
                        </div>
                    </div>
                    @*<div class="col-md-4 form-group">
                        <label for="foto">Foto:</label>
                        <select class="form-control" id="foto"></select>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {

        $('#dataIniVal').mask('99/99/9999');
        $('#dataIniVal').datepicker({ orientation: 'bottom auto', autoclose: true, format: 'dd/mm/yyyy', forceParse: false, language: 'pt-BR', forceParse: false });

        $('#dataFimVal').mask('99/99/9999');
        $('#dataFimVal').datepicker({ orientation: 'bottom auto', autoclose: true, format: 'dd/mm/yyyy', forceParse: false, language: 'pt-BR', forceParse: false });

        $('#sexo').val('@Model.sexo');

        GetTipoPessoa();

        function GetTipoPessoa() {

            $('#tipoPessoaForm').empty();

            $.ajax({
                url: '@ViewBag.WEB_API/api/visitantes/tipoPessoa',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('#tipoPessoaForm').append($('<option>', {
                            value: item.id_tipo_pessoa,
                            text: item.descricao
                        }));
                    });

                    $('#tipoPessoaForm').val('@Model.id_tipo_pessoa');
                }
            });
        }

    });

</script>