<div id="modalWebCam" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:79%; margin-left:12%; margin-top:1%;">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <video id="video" class="thumbnail text-center" autoplay="autoplay">
                                Seu navegador não suporta video...
                            </video>
                            <canvas id="imagem" class="thumbnail" style="display:none"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <button id="tirarFoto" type="button" class="btn btn-primary" disabled="disabled" onclick="TirarFotos();">Tirar Foto</button>
                        <div class="btn-group">
                            <button id="tirarNovamenteFoto" type="button" class="btn btn-primary" style="display:none;" onclick="TirarFotoNovamente();">Tirar outra foto</button>
                            <div id="acaoImagem" class="btn-group" style="display:none;">
                                <button id="salvarImagem" type="button" class="btn btn-success" onclick="AlterarImagem('S')">Salvar foto</button>
                                <button id="alterarImagem" type="button" class="btn btn-success" onclick="AlterarImagem('A')">Alterar foto</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div id="divRemover">
                            <button id="removerImagem" type="button" class="btn btn-danger" disabled="disabled" onclick="AlterarImagem('R')">Remover foto</button>
                            <button type="button" class="btn btn-default pararWebCam" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var video = document.getElementById('video');
    var canvas = document.getElementById('imagem');
    var contexto = canvas.getContext('2d');
    var pararVideo = null;

    navigator.getUserMedia = navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia ||
        navigator.oGetUserMedia;

    if (navigator.getUserMedia) {
        navigator.getUserMedia({
            video: true
        }, VideoStream, videoError);
    }

    function VideoStream(stream) {
        video.src = window.URL.createObjectURL(stream);
        $('#tirarFoto').prop("disabled", false);
        $('#removerImagem').prop("disabled", false);
        pararVideo = stream.getTracks()[0];
    }

    function videoError(e) {
        $.notify('Existe algum problema...' + e.name, { clickToHide: true, autoHide: false });       
    }

    function TirarFotos() {
        canvas.width = video.clientWidth;
        canvas.height = video.clientHeight;
        contexto.drawImage(video, 0, 0);

        $('#imagem').show();
        $('#video').hide();
        $('#tirarFoto').hide();
        $('#acaoImagem').show();
        $('#tirarNovamenteFoto').show();
    }

    function TirarFotoNovamente() {
        $('#imagem').hide();
        $('#video').show();
        $('#tirarFoto').show();
        $('#acaoImagem').hide();
        $('#tirarNovamenteFoto').hide();
    }

    function VerificaAcao() {
        if ('@ViewBag.ACAO' == 'A') {
            $('#salvarImagem').remove();
            $('#divRemover').addClass('btn-group');
        }
        else
        {
            $('#alterarImagem').remove();
            $('#removerImagem').remove();
        }
    }

    $('.pararWebCam').click(function () {
        pararVideo.stop();
    });

    VerificaAcao();

    function AlterarImagem(acaoImagem)
    {
        var canvasUrl = canvas.toDataURL();
        var textoErro = '';

        if (acaoImagem == 'A')
        {
            canvasUrl = canvasUrl.replace('data:image/png;base64,', '');
            textoErro = 'Erro ao alterar imagem';
        }
        else
        {
            canvasUrl = null;
            textoErro = 'Erro ao remover imagem';
        }

        $.ajax({
        url: '@ViewBag.WEB_API/api/pessoas/@Html.Raw(Model.id_pessoa)/atualizarPessoas',
        method: 'POST',
        dataType: 'json',
        data: {
            'foto_string': canvasUrl,
            'id_tipo_pessoa': '@Html.Raw(Model.id_tipo_pessoa)',
            'nome': '@Html.Raw(Model.nome)',
            'sexo': '@Html.Raw(Model.sexo)',
            'dt_ini_val_string': '@Html.Raw(Model.dt_ini_val)',
            'dt_fim_val_string': '@Html.Raw(Model.dt_fim_val)'
        }
        }).done(function (data, status) {
            if (data.mensagemRetorno.includes('sucesso'))
            {
                $.notify(data.mensagemRetorno, { className: 'success', clickToHide: true, autoHide: false });
                $('.pararWebCam').trigger('click');
                $('.modal-backdrop').remove();
                GetPessoas('@Html.Raw(Model.nome)');
            }
            else
            {
                $.notify(data.mensagemRetorno, { clickToHide: true, autoHide: false });
            }
            }).fail(function (data, status) {
            if ('@ViewBag.ACAO' == 'A')
            {
                $.notify(textoErro, { clickToHide: true, autoHide: false });
            }
            else
            {
                $.notify('Erro ao salvar imagem', { clickToHide: true, autoHide: false });
            }
        });
    }

    function GetPessoas(nome) {
        $.ajax({
            url: '@ViewBag.WEB_API/api/pessoas/' + nome + '/listarPessoas',
            method: 'GET',
            dataType: 'json'
        }).done(function (data, status) {
            $.ajax({
                url: '@Url.Action("ResumoConsulta", "Consulta")',
                method: 'POST',
                dataType: 'html',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    'model': data
                })
            }).done(function (data, status) {
                $('#divResumoConsulta').html(data);
                $('#divResumoConsulta').show();
            }).fail(function (data, status) {
                $.notify('Erro ao abrir a tela para listar a pessoa desejada...', { clickToHide: true, autoHide: false });
            });
        }).fail(function (data, status) {
            $.notify('Erro ao recuperar a pessoa desejada...', { clickToHide: true, autoHide: false });
        });
    }

</script>